*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    min-width: 100px;
    min-height: 100px;
    padding: 5rem;
    color: white;
   font-weight: bold;
   font-size: 2rem;
   cursor: pointer;
}
.grandparent{
    background: #b1d420;
    color: black;
}
.parent{
    background: #145da1;;
}
.child{
    background: #0c2d48;
}