@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
*{
    box-sizing: border-box;/*don't change margin over padding*/
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    position: relative;/*to make relative to that div acc to header*/
    min-height: 60vh;
    background:url('./bg.jpg') ;
    background-position: centre;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.container{
    max-width: 1200px;
    margin: auto;
    width:50%
}
.nav{
    min-height: 8vh;
    display:flex;
    justify-content: space-between;
}
.navItem{
    width: 40%;/*when we use*/
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.headline{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-headLine{
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 500;

}
.todo-section{
    margin-top: 5rem;
    text-align: center;
}
.form-todo{
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.form-todo input{
    min-height: 100%;
}
.form-todo input[type="text"]{
    width: 78%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.form-todo input[type="submit"]{
    width: 20%;
    background: rgb(44,55,65);
    color: white;
    font-weight: bold;
}
.section-signup{
    margin: 5rem auto ;
    text-align: center;
    background: rgb(240,240,240);
    border-radius: 10px;
    padding: 1rem;
}
.signupForm{
    max-width: 800px;
    width: 95%;
    text-align: left;
    margin: auto;
}
.signupForm label{
    display: block;
}
.signupForm input{
    display: block;
    width: 100%;
    padding: 0.5rem;
}
.form-group{
    margin-top: 1rem;
}
.signupForm textarea{
    width: 100%;
}
.signupBtn{
    background:rgb(44,55,63);
    color: white;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
}